<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FundAccountMapper">
    <resultMap id="FundAccount" type="FundAccount">
        <id property="id" column="id"/>
        <result property="ts" column="ts"/>
        <result property="de" column="de"/>

        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="icon" column="icon"/>

        <result property="fields" column="fields" typeHandler="Json"/>
    </resultMap>

    <sql id="FundAccountColumns">
        convert( column_json(fields) using utf8 ) as fields
    </sql>

    <sql id="FundAccountFilter" >
        <where> <if test="filter != null">
            <!-- Entity filter -->
            <if test="filter.id != null"> and id = #{filter.id} </if>
            <if test="filter.de != null"> and de = #{filter.de} </if>

            <!-- FundAccount filter -->
            <if test="filter.name != null"> and name = #{filter.name} </if>
            <if test="filter.type != null"> and type = #{filter.type} </if>
        </if> </where>
    </sql>

    <insert id="create">
        insert into fund_account (
            id,
            name, type, icon,
            fields
        ) values (
            #{id},
            #{name}, #{type}, #{icon}
            <trim prefix=",">
                <if test="!fields.isEmpty()">
                    <trim prefix="column_create(" suffixOverrides="," suffix=")">
                        <foreach index="field" item="value" collection="fields.entrySet()">
                            #{field}, #{value},
                        </foreach>
                    </trim>
                </if>
            </trim>
        )
    </insert>

    <delete id="delete" >
        <bind name="filter" value="_parameter" />
        delete from fund_account <include refid="FundAccountFilter"/>
    </delete>

    <update id="update">
        update fund_account
        <set>
            <!-- Entity updatable field -->
            <if test="data.de != null"> de = #{data.de}, </if>

            <!-- Metadata updatable fields -->
            <if test="data.name != null"> name = #{data.name}, </if>
            <if test="data.type != null"> type = #{data.type}, </if>
            <if test="data.icon != null"> icon = #{data.icon}, </if>

            <if test="!data.fields.isEmpty()">
                <trim prefix="fields = column_create(" suffixOverrides="," suffix=")">
                    <foreach index="field" item="value" collection="data.fields.entrySet()">
                        #{field}, #{value},
                    </foreach>
                </trim>
            </if>
        </set>
        <include refid="FundAccountFilter"/>
    </update>

    <select id="list" resultMap="FundAccount">
        <bind name="filter" value="_parameter" />
        select
            <include refid="Common.EntityColumns" />,
            <include refid="FundAccountColumns" />
        from fund_account
        <include refid="FundAccountFilter"/>
    </select>
</mapper>