<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MetadataMapper">
    <resultMap id="Metadata" type="Metadata">
        <id property="id" column="id"/>
        <result property="ts" column="ts"/>
        <result property="de" column="de"/>

        <result property="catalog" column="catalog"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="value" column="value"/>

        <discriminator javaType="string" column="catalog">
            <case value="FundAccountType" resultMap="TransferAddon"/>
        </discriminator>
    </resultMap>

    <resultMap id="TransferAddon" type="TransferAddon" extends="Metadata" autoMapping="false">
        <result property="mode" column="mode" typeHandler="TransferAddonMode" />
        <result property="type" column="type" typeHandler="TransferAddonType" />
        <result property="spec" column="spec" />
        <result property="content" column="content"/>
    </resultMap>

    <sql id="MetadataColumns">
        name, catalog, description, value
    </sql>

    <sql id="TransferAddonColumns">
        column_get(fields, 'mode' as int) as mode, column_get(fields, 'type' as int) as type, column_get(fields, 'spec' as char) as spec, column_get(fields, 'content' as char) as content
    </sql>

    <sql id="MetadataFilter" >
        <where> <if test="filter != null">
            <!-- Entity filter -->
            <if test="filter.id != null"> and id = #{filter.id} </if>
            <if test="filter.de != null"> and de = #{filter.de} </if>

            <!-- Metadata filter -->
            <if test="filter.name != null"> and name = #{filter.name} </if>
            <if test="filter.catalog != null"> and catalog = #{filter.catalog} </if>
            <if test="filter.value != null"> and value = #{filter.value} </if>

            <!-- TransferAddon filter -->
            <if test="filter.mode != null"> and column_get(fields, 'mode' as int) = #{filter.mode, typeHandler=TransferAddonMode} </if>
            <if test="filter.type != null"> and column_get(fields, 'type' as int) = #{filter.type, typeHandler=TransferAddonType} </if>
        </if> </where>
    </sql>

    <select id="list" resultMap="Metadata">
        <bind name="filter" value="_parameter" />
        select
            <include refid="Common.EntityColumns" />,
            <include refid="MetadataColumns" />,
            <include refid="TransferAddonColumns"/>
        from metadata
        <include refid="MetadataFilter"/>
    </select>

    <insert id="create">
        insert into metadata (
            id,
            <include refid="MetadataColumns" />
            <trim prefix=",">
                <if test="mode != null or type != null or spec != null or content != null"> fields </if>
            </trim>
        ) values (
            #{id}, #{name}, #{catalog}, #{description}, #{value}
            <trim prefix=",">
                <if test="mode != null or type != null or spec != null or content != null">
                    <trim prefix="column_create(" suffixOverrides="," suffix=")">
                        <if test="mode != null"> 'mode', #{mode, typeHandler=TransferAddonMode}, </if>
                        <if test="type != null"> 'type', #{type, typeHandler=TransferAddonType}, </if>
                        <if test="spec != null"> 'spec', #{spec}, </if>
                        <if test="content != null"> 'content', #{content}, </if>
                    </trim>
                </if>
            </trim>
        )
    </insert>

    <update id="update">
        update metadata
        <set>
            <!-- Entity updatable field -->
            <if test="data.de != null"> de = #{data.de}, </if>

            <!-- Metadata updatable fields -->
            <if test="data.name != null"> name = #{data.name}, </if>
            <if test="data.catalog != null"> catalog = #{data.catalog}, </if>
            <if test="data.description != null"> description = #{data.description}, </if>
            <if test="data.value != null"> value = #{data.value}, </if>

            <if test="data.mode != null or data.type != null or data.spec != null or data.content != null">
                <!-- TransferAddon updatable fields -->
                <trim prefix="fields = column_add(fields," suffixOverrides="," suffix=")">
                    <if test="data.mode != null"> 'mode', #{data.mode, typeHandler=TransferAddonMode}, </if>
                    <if test="data.type != null"> 'type', #{data.type, typeHandler=TransferAddonType}, </if>
                    <if test="data.spec != null"> 'spec', #{data.spec}, </if>
                    <if test="data.content != null"> 'content', #{data.content}, </if>
                </trim>
            </if>
        </set>
        <include refid="MetadataFilter"/>
    </update>

    <delete id="delete">
        <bind name="filter" value="_parameter" />
        delete from metadata <include refid="MetadataFilter" />
    </delete>
</mapper>